.page {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
/* .logo-container, */
/* .header-section { */
  /* padding-left: 20px; */
  /* padding-right: 20px; */
/* } */

.logo-container {
  display: flex;
  align-items: center;
  justify-content: center;  
  padding: 16px 0;
  border-bottom: 0.8px solid #D0D7DE;
}

.logo {
  display: flex;
  align-items: center;
  gap: 2px;
  font-size: 20px;
  font-weight: 700;
  color: #FF4F01;
}

.logo-img {
  display: block;
}

.header-section {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 16px 20px;
  border-bottom: 0.8px solid #D0D7DE;

  max-width: 100%;
}

.header-title h2 {
  margin: 0;
  font-size: 24px;
  font-weight: 600;
  color: #111827;
}

.actions {
  display: flex;
  align-items: center;
  gap: 16px;
}

.search-wrapper {
  position: relative;
}

.search-icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  width: 16px;
  height: 16px;
  pointer-events: none;
}

.search-wrapper input {
  width: 240px;
  height: 32px;
  padding: 0 12px 0 36px;
  font-size: 14px;
  border-radius: 4px;
  border: 1px solid #D0D7DE;
  background: #F6F8FA;
  /* color: #636C76; */
}

.search-wrapper input::placeholder {
  color: #636C76;
}

.search-wrapper input:focus {
  outline: none;
  border-color: #FF5A1F;
}

.divider {
  width: 1px;
  height: 20px;
  background: #E5E7EB;
}

.export-btn {
  height: 32px;
  width:120px;
  padding: 0 16px;
  border-radius: 4px;
  background: #FF5A1F;
  color: #ffffff;
  border: none;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.export-btn:hover {
  background: #EA580C;
}

@media (max-width: 768px) {
  .actions {
    width: 100%;
    justify-content: space-between;
  }

  .search-wrapper input {
    width: 100%;
  }
}